<!DOCTYPE html>
<html>
    <head>
      <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'sha256-WOdSzz11/3cpqOdrm89LBL2UPwEU9EhbDtMy2OciEhs='">

        <title>Comment Figma on Web</title>
        <link rel="stylesheet" href="../css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/style.css">
        <style>

        </style>
    </head>
    <body>
        

        <div class = "container">
            <div class = "card">
              <div class = "comment-area image">
                <img src = "../images/cmlfow.png" class="comment-icon" width="140" height="auto" alt="Comment icon">
              </div>
              <div class = "content">
                <h4>This is content</h4>
                <p>DIn publishing and graphic design,           Lorem ipsum is a placeholder text               commonly used to demonstrate the visual         form of a document or a typeface without         relying on meaningful content.</p>
                <div id="btsend" >
                    
                    <a href="popup.html" target="_blank" class="submit-btn">Link</a>
                </div>
                 
              </div>
            </div>    
          </div>
        <script src="../script/jquery-3.6.1.min.js"></script>
        <script src="../script/menu-popup.js"></script>
    </body>
</html>