<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/style.css" />
    <title>RastMobile</title>
  </head>
  <body>
    <div class="form-check">
      <input
        class="form-check-input"
        id="getCommentCheckBox"
        type="checkbox"
        value=""
      />
      <label class="form-check-label" for="getCommentCheckBox">
        Load Comments every page load
      </label>
    </div>
    <script src="../script/popup.js"></script>
  </body>
</html>
